<div class="row">
  <h1>Hard & Soft skills </h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="60"
    [imageSrc]="'../assets/logo-html.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="60"
    [imageSrc]="'../assets/logo-css.png'"
    [imageHeight]="60"
    [imageWidth]="110"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="60"
    [imageSrc]="'../assets/logo-js.png'"
    [imageHeight]="60"
    [imageWidth]="110"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="60"
    [imageSrc]="'../assets/github-2.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="60"
    [imageSrc]="'../assets/logo-ingles.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showImage]="true"
    [showUnits]="true"
    [title]="'comunicación'"
    [showTitle]="true"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="60"
    [imageSrc]="'../assets/logo-trabajo-equipo.png'"
    [imageHeight]="60"
    [imageWidth]="60"
    [showImage]="true"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
  </div>
 
</div>
