<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto-perfil.jpg" class="img-fluid" id="foto-perfil">
    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Juan Diego González</p>
    <p id="titulo">Full Stack Developer Jr</p>
   </div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, facilis accusamus. Fuga suscipit impedit quis excepturi. Earum, esse? Aliquam perferendis expedita repellendus voluptate eum ullam, voluptas aspernatur alias omnis! Amet.
        </p>
    </span>
   </div>
</div>