<div class="row">
   <div class="container">
      <div class="logo">
        <img src="../../../assets/arg-programa.png" id="logoAP">
        <img src="../../../assets/footer-logo@2x.png" id="cessi">
        
       </div>
    <div class="redes">
        <div>
            <a href="https://m.facebook.com/juandiego.gonzalezsalazar?eav=AfYIv0bDKmHRsrHDcz_SaVBJNpwcmUCbf7bMU2TWSirThvA6SGddSGU4FTny8bvTHpk&paipv=0" target="_blank"> <img src="../../../assets/facebook-4.png" ></a> 
            <a href="https://github.com/jdgonzalez07" target="_blank"> <img src="../../../assets/github-2.png" ></a> 
            <a href="https://www.instagram.com/jdgonzalez07/" target="_blank"> <img src="../../../assets/instagram-2.png" ></a>
            <a href="https://www.linkedin.com/in/juan-gonzalez-b0a3b5256/" target="_blank"> <img src="../../../assets/linkedin-2.png" ></a>
            <a href="" target="_blank"> <img src="" alt=""></a>
            <button type="button" class="btn btn-outline-dark">INGRESAR</button>
        </div>
            
        
        </div>
    </div>
</div>
